<repository>
  <name>Illustrated London News @Emory University</name>
  <adminEmail>beckctr@emory.edu</adminEmail>
  <protocolVersion>2.0</protocolVersion>
  <granularity>seconds</granularity>
  <earliestDatestamp>1970-01-01T00:00:00Z</earliestDatestamp>

  <validateOutput>true</validateOutput>

  <identifier>
    <delimiter>:</delimiter>
    <localdelimiter>/</localdelimiter>
<!-- non : delimiter between collection and local identifier
     use if you wish to prepend collection to identifier to ensure uniqueness
-->
    <recordprefix></recordprefix>
    <repositoryIdentifier>
<!-- note: this uri is also used for request script location  -->
       <uri>oai.library.emory.edu</uri>
       <collection>iln</collection>
<!-- note: setting this to true will use collection name for the
     request script location instead of the actual script name and path -->
       <useCollectionAsScriptName>true</useCollectionAsScriptName>
    </repositoryIdentifier>
<!-- Note: identifiers are constructed from these components in this format:
   oai:oai.library.emory.edu:tgfw:prefixrecordid  -->
  </identifier>

  <resumption>
    <maxRecords>50</maxRecords>
    <maxIdentifiers>200</maxIdentifiers>
    <expiration>24 hours</expiration>
  </resumption>

  <xqueryFile>xquery.xml</xqueryFile>

  <!-- connection settings for xml database -->
  <connectionParameters>
    <xmldb type="tamino">
      <host>vip.library.emory.edu</host>
      <database>ILN</database> 
      <collection>iln</collection> 
      <debug>false</debug>
    </xmldb>          
  </connectionParameters>

  <sets>
    <!--set must be listed here and defined with in each metadata queries doc-->
    <set name="Articles" setSpec="Articles">
       <description>Articles from the Illustrated London News</description>
    </set>
    <set name="Illustrations" setSpec="Illustrations">
        <description>Illustrations from the Illustrated London News</description>
    </set> <!-- not using these sets yet           
    <set name="Volume 38" setSpec="vol38">
       <description>Volume 38, 1861</description>
    </set>
    <set name="Volume 39" setSpec="vol39">
       <description>Volume 39</description>
    </set>
    <set name="Volume 40" setSpec="vol40">
       <description>Volume 40</description>
    </set>
    <set name="Volume 41" setSpec="vol41">
       <description>Volume 41</description>
    </set>
    <set name="Volume 42" setSpec="vol42">
       <description>Volume 42</description>
    </set>
    <set name="Volume 43" setSpec="vol43">
       <description>Volume 43</description>
    </set>
    <set name="Volume 44" setSpec="vol44">
       <description>Volume 44</description>
    </set>
    <set name="Volume 45" setSpec="vol45">
       <description>Volume 45</description>
    </set>
    <set name="Volume 46" setSpec="vol46">
       <description>Volume 46</description>
    </set>
    <set name="Volume 47" setSpec="vol47">
       <description>Volume 47</description>
    </set> -->
  </sets>

  <metadataFormats>
    <!-- Add additional metadataFormat entries for each supported metadata format.
	 At minimum oai_dc must be supported.
    -->
    <metadataFormat name="oai_dc">
      <schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema>
      <metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNamespace>
      <record_prefix>dc</record_prefix>
      <recordNamespace>http://purl.org/dc/elements/1.1</recordNamespace>
      <xslt>oai_dc.xsl</xslt>
    </metadataFormat>                       
  </metadataFormats>

</repository>
