<repository>
  <name>Belfast Group @Emory University</name>
  <adminEmail>beckctr@emory.edu</adminEmail>
  <protocolVersion>2.0</protocolVersion>
  <granularity>seconds</granularity>
  <earliestDatestamp>1970-01-01T00:00:00Z</earliestDatestamp>

  <validateOutput>false</validateOutput>

  <identifier>
    <delimiter>:</delimiter>
    <localdelimiter>/</localdelimiter>
<!-- non : delimiter between collection and local identifier
     use if you wish to prepend collection to identifier to ensure uniqueness
-->
    <recordprefix></recordprefix>
    <repositoryIdentifier>
<!-- note: this uri is also used for request script location  -->
       <uri>oai.library.emory.edu</uri>
       <collection>belfast</collection>
<!-- note: setting this to true will use collection name for the
     request script location instead of the actual script name and path -->
       <useCollectionAsScriptName>true</useCollectionAsScriptName>
    </repositoryIdentifier>
<!-- Note: identifiers are constructed from these components in this format:
   oai:oai.library.emory.edu:tgfw:prefixrecordid  -->
  </identifier>

  <resumption>
    <maxRecords>50</maxRecords>
    <maxIdentifiers>200</maxIdentifiers>
    <expiration>24 hours</expiration>
  </resumption>

  <xqueryFile>xquery.xml</xqueryFile>

  <!-- connection settings for xml database -->
  <connectionParameters>
    <xmldb type="exist">
      <host>wilson.library.emory.edu</host>
      <!-- <host>bohr.library.emory.edu</host> --> <!-- production -->
      <port>8080</port>
      <database>belfast</database> 
      <collection></collection> 
      <debug>false</debug>
    </xmldb>          
  </connectionParameters>

  <sets>
    <!--set must be listed here and defined with in each metadata queries doc-->
  <!--  <set name="Workshops" setSpec="Workshops">
       <description>Poetry workshops from the Belfast Group</description>
    </set> -->
  </sets>

  <metadataFormats>
    <!-- Add additional metadataFormat entries for each supported metadata format.
	 At minimum oai_dc must be supported.
    -->
    <metadataFormat name="oai_dc">
      <schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema>
      <metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNamespace>
      <record_prefix>dc</record_prefix>
      <recordNamespace>http://purl.org/dc/elements/1.1</recordNamespace>
      <xslt>oai_dc.xsl</xslt>
    </metadataFormat> 
    <metadataFormat name="oai_mods">
      <schema>http://www.loc.gov/standards/mods/v3/mods-3-0.xsd</schema>
      <metadataNamespace>http://www.loc.gov/mods/v3</metadataNamespace>
      <record_prefix>mods</record_prefix>
      <recordNamespace></recordNamespace>
      <xslt>oai_mods.xsl</xslt>
    </metadataFormat>            
  </metadataFormats>
                      
  
</repository>
